@*@using liftoff_jamey_1.ViewModels
@using liftoff_jamey_1.Models
@model AddBookClubViewModel


<h1>Create a new Book Club</h1>

<form method="post" action="Add" class="mt-5">

	<div class="mb-3">
		<label for"" class="form-label">ClubName</label>
		<input type="text" class="form-control" asp-for="ClubName">
	</div>
	<div class="mb-3">
		<label for"" class="form-label">Location</label>
		<input type="text" class="form-control" asp-for="Location">
	</div>
	
	<button type="submit" class="btn-primary">Create a Book Club</button>
</form>*@


@*<form asp-controller="BookClub" asp-action="Add" method="post">

	<div class="form-group">
		<label asp-for"Name">ClubName</label>
		<input class="form-control" asp-for="ClubName" />
		<span asp-validation-for="ClubName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for"Location">Location</label>
		<input class="form-control" asp-for="Location" />
		<span asp-validation-for="Location" class="text-danger"></span>
	</div>


	<input type="submit" value="Create a Book Club" />
</form>*@