@model List<BookClub>

@{ViewData["Title"] = "Index";   }

<div class="container p-3">
	<div class="row p-4">
		<div class="col-6">
			<h2 class="text-primary"> Book Clubs List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="BookClub" asp-action="Create" class="btn btn-primary">
				Create New Book Club!
			</a>
		</div>
	</div>
</div>

@if(Model.Count == 0)
{
	<p>No BookClubs yet</p>
}
else
{
	
<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>ClubName</th>
			<th>Location</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td><a asp-asp-controller="BookClub" asp-action="Detail" asp-route-itemid="@obj.Id">@obj.ClubName</a></td>
				<td>@obj.Location</td>
			</tr>
		}
	</tbody>
	
</table>
}