@model liftoff_jamey_1.Models.UpdateBookClubViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edit Book Club</h1>

<form method="post" action="View" class="mt-5">

	<div class="mb-3">
		<label for"" class="form-label">Id</label>
		<input type="text" class="form-control" asp-for="Id" readonly>
	</div>
	<div class="mb-3">
		<label for"" class="form-label">ClubName</label>
		<input type="text" class="form-control" asp-for="ClubName">
	</div>
	<div class="mb-3">
		<label for"" class="form-label">Location</label>
		<input type="text" class="form-control" asp-for="Location">
	</div>

	<button type="submit" class="btn-primary">Edit a Book Club</button>
	<button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="BookClubs">Delete</button>
</form>

