@model BookClub

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BookWorm </h1>
    <p>Build a community, come together, and share your love of books.</p>
    <img src="/files/booklover.jpeg" class="img-fluid" alt="librarywithbookreaders" />
</div>

