@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/openLibraryCalls.js"></script>

<div>
   
        <input type="text" id="searchQuery" name="searchQuery" />
        <button id="submit">Search</button>

</div>

<p id="searchResult"></p>


