@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Search" asp-action="Index">
    <p>
        <label>Search:</label>
        <input type="text" name="searchTerm" />
    </p>
</form>


<p>
    Search Results:
</p>